
<h2>Hey, there <%= current_user.first_name %></h2>
<hr />
<%= link_to "Add To-Do", new_todo_path, class:"btn btn-success" %>
<h3>You're To-Do list!</h3>
<ul>
  <% @todos.each do |todo| %>
    <li>
      <%=link_to todo.name,todo %> : <%= todo.item%>
    </li>
  <% end %>



  <%= link_to "Back", root_path, class:"btn btn-primary" %>
</ul>
